@import (once) "gdiu_common.less";

// Document Setup
html {
    ._clear();
    background-color: @white;
}

body {
    ._clear();
    ._font(@f_body, 1.5rem, @black, 400, normal);
    background-image: url('/img/GDIU_Triangles_BG_top.svg');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

#wrapper {
    min-height: 100vh;
    position: relative;
}

.no-select {
    ._no-select();
}

// Basic HTML Elements
p {
    ._clear();
    ._listSpace(bottom, @s_unit);

    a, .a {
        background-color: lighten(@grey_light, 10%);
        padding: 0 0.2em;
        color: @blue;
        border-bottom: 2px dotted @blue;

        &:hover {
            color: @red;
            border-bottom-color: @red;
        }
    }
}

a, .a {
    ._smooth(@t_fast);
    text-decoration: none;
}

h1 {
    ._clear();
    ._font(@f_title, 9vw);
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0.4em 0.3em 0.2em 0.3em;
}

h2 {
    ._clear();
    ._font(@f_heading, 1.65em, inherit, 700);
    padding: @s_unit/2 0;
}

svg {
    fill: currentColor;
}

i.space {
    margin-right: 0.6em;
}

// Shapes
.bar {
    width: 100%;
    height: @s_unit*2;
}

.circle {
    display: block;
    border-radius: 9999px;
    height: 1em;
    width: $height;
    text-align: center;
    overflow: hidden;

    & {
        padding: 0.35em 0.5em 0.65em 0.5em;
    }

    &.nudge-left {
        padding-left: 0.45em;
        padding-right: 0.55em;
    }

    &.nudge-down {
        padding-top: 0.4em;
        padding-bottom: 0.6em;
    }

    &.nudge-down-more {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    &.large {
        font-size: 1.5em;
    }

    &.larger {
        font-size: 3em;
    }
}

.pill {
    border-radius: @s_max;
    display: block;
    padding: 0.5em 1em;
    text-align: center;

    span& {
        display: inline-block;
    }

    h2& {
        display: inline-block;
        margin-bottom: @s_unit;
    }
}

// Page Elements
#top-bars {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;

    .bar {
        background: none !important;
    }
}

#top {
    margin-bottom: @s_unit;

    .nav {
        ._flex(row, wrap, center, center);

        .site-icon {
            display: block;
            width: 100%;
            margin: @s_unit 0;
            position: relative;

            img {
                display: block;
                width: 90%;
                margin: auto;
                height: auto;
            }
        }

        .items {
            ._flex(row, nowrap, center, center);
        }

        .button {
            margin-right: 0.3em;
            font-size: 7vw;
        }
    }
}

.block {
    width: 100%;
    padding-bottom: @s_unit;

    & > * {
        margin: auto;
    }

    &.flex {
        ._flex(column);

        & > * {
            ._listSpace(bottom, @s_unit);
        }

        & > .order-last {
            order: 999;
            margin: 0;

            & ~ * {
                margin-bottom: @s_unit;
            }
        }
    }
}

.size-2 {
    flex-grow: 2;
}

.size-3 {
    flex-grow: 3;
}

.size-4 {
    flex-grow: 15;
}

// Basic Components
.img {
    display: block;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

    &.position-right {
        background-position: 72%;
    }

    &.position-left {
        background-position: left;
    }

    &.position-bottom {
        background-position: bottom;
    }

    &.panel {
        border-radius: @s_round;
    }
}

.button {
    ._enableBorder();
    ._no-select(pointer);
    ._smooth(@t_fast);
    display: block;
    text-align: center;
}

.panel {
    @radius: @s_round;
    @padding: 1em;
    width: 100%;
    overflow: hidden;

    &:empty {
        border-radius: @radius;
    }

    .top {
        ._no-select();
        ._enableBorder();
        display: block;
        border-radius: @radius @radius 0 0;
        border-bottom-width: 0;
        padding: @s_unit/2 @s_unit;
        text-align: center;
    }

    .middle {
        ._enableBorder();
        display: block;
        padding: @padding;

        &:not(.bottom-outline) {
            border-bottom-width: 0;
        }
    }

    .bottom {
        ._enableBorder();
        display: block;
        border-radius: 0 0 @radius @radius;
        padding: @padding;

        &.button {
            text-align: center;
        }
    }

    &.center *, *.center {
        text-align: center;
    }

    & > .button, & .bottom > .button {
        margin: auto;
    }
}

.expandotron {
    .panel;

    .items {
        .panel.bottom;
        ._flex(column, nowrap, stretch, center);
        padding: 0;
        overflow: hidden;

        .item {
            ._listSpace(bottom, @s_border);
            ._smooth(@t_medium);
            position: relative;
            height: 40vh;
            flex-grow: 1;
            overflow: hidden;

            .img {
                height: 100%;
                width: 100%;
            }

            .info {
                ._smooth(@t_slow);
                position: absolute;
                bottom: -3em;
                width: 100%;
                margin: auto;

                .button {
                    width: 60%;
                    margin: auto;
                    white-space: nowrap;
                }
            }

            &:hover {
                flex-grow: 4;

                .info {
                    bottom: 1em;
                }
            }
        }
    }
}

.overlay {
    ._smooth(@t_slow);
    background: rgba(0,0,0,0);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -2;
    overflow-y: hidden;

    .overlay-box {
        ._smooth(@t_slow*2, cubic-bezier(0.19, 1, 0.22, 1));
        position: absolute;
        height: 100%;
        width: 100%;
        top: 100vh;

        .overlay-background-exit {
            display: block;
            position: absolute;
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            z-index: 1000;
        }

        .overlay-panel {
            position: relative;
            box-sizing: border-box;
            width: 95%;
            max-width: 800px;
            margin: auto;
            margin-top: 3vh;
            z-index: 1001;

            .content {
                @p: @s_unit;
                padding: 0 @p/2 @p @p/2;

                .thumb {
                    width: 100%;
                    height: 50vw;
                    margin-bottom: @s_unit/2;
                }
            }

            .controls.m {
                margin-top: @s_unit;
                ._flex(row, nowrap, center, center);

                & > * {
                    ._listSpace(right, @s_unit);
                }
            }

            .controls.d {
                ._smooth(@t_slow);
                width: 3em;
                position: absolute;
                top: 3em;
                right: -4em;
            }
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.overlay-toggle {
    display: none;

    &:checked + .overlay {
        background: rgba(0,0,0,0.8);
        z-index: 999;
        overflow-y: scroll;

        .overlay-background-exit {
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1000;
        }

        .overlay-box {
            top: 0vh;

            .controls.d {
                top: -0.1em;

                & > * {
                    margin-bottom: @s_unit/2;
                }
            }
        }
    }
}

.ssection {
    text-align: center;
    min-height: 4em;
    margin-bottom: @s_unit;
    overflow: hidden;

    .section-heading {
        ._no-select();
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin-bottom: @s_unit;
        margin-right: @s_unit/2;
        min-width: 3.5em;
        text-align: center;
        z-index: 2;
    }

    .section-toggle {
        display: none;
        @t: @t_slow;

        & ~ .section-toggle-icon {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            transform: rotate(45deg);
            margin-bottom: @s_unit;
            z-index: 2;
        }

        & ~ .toggle-area {
            position: relative;
            ._smooth(@t);
            //max-height: 0;
            //opacity: 0;
            overflow: hidden;
            //top: -5em;
            & > * {
                ._smooth();
                height: 0;
                margin-bottom: 0;
                border-width: 0;
            }
        }

        &:checked {
            & ~ .section-toggle-icon {
                transform: rotate(0deg);
            }

            & ~ .toggle-area {
                // transition: opacity @t @c_out, margin-bottom @t @c_out;
                //top: 0;
                //max-height: 1000px;
                //opacity: 1;
                & > * {
                    height: 12em;
                }
            }
        }
    }
}

input.toggle {
    display: none;
}

label[for*="toggle"] {
    ._no-select(pointer);
    ._smooth();
}
