/* Variables and Colors */
@Red: #DD5445;
@Green: #60BB92;
@Blue: #5978BB;
@Yellow: #fbc054;
@White: #EAEAEA;
@LightGrey: #c1bfc5;
@Grey: #6E6D71;
@Black: #222D2F;

@BaseSpacing: 20px;
@BorderWidth: 3px;

@Fast: 0.1s;
@Medium: 0.18s;
@Slow: 0.27s;

@TitleFont: 'GN Kill Gothic U';
@HeadingFont: 'Arial Rounded MT';
@BodyFont: Calibri, Arial, Helvetica, sans-serif;

/* Mixins */
._clear() {
    margin: 0;
    padding: 0;
}

._smooth(@time: @Medium) {
    transition: all @time ease-out;
}

._color(@fg, @bg, @outline: @fg) {
    color: @fg;
    border-color: @outline;
    background-color: @bg;
}

._enable-border(@width: @BorderWidth) {
    border-width: @width;
    border-style: solid;
}

._no-select(@cursor: unset) {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
		 not supported by any browser */
    cursor: @cursor;
}

/* Smaller than tablet portrait */
@media (max-width: 899px) {
    .d {
        display: none !important;
    }
    
}
/* Smaller than regular desktop */
@media (max-width: 1218px) {
    .w {
        display: none !important;
    }
}

/* Larger than phone */
@media (min-width: 600px) {

}
/* Larger than tablet portrait */
@media (min-width: 900px) {
    .m {
        display: none !important;
    }

    /* Base Components */
    .button {
        &.single {
            font-size: 1em;
        }
    }

    .img {
        &.sized {
            height: unset;
            width: unset;

            @size: 10em;
            min-width: @size;
            min-height: @size;
        }
    }

    /* Document Setup */
    #body {
        padding-bottom: 4em;
    }

    /* Document Areas */
    #top-bars {
        height: 6em;

        .full-bar {
            height: 1.5em;
        }
    }

    #top {
        .nav {
            flex-wrap: nowrap;
            padding-top: @BaseSpacing;
            font-size: 1em;
            align-items: flex-end;
            padding-bottom: 2em;

            .items {
                display: flex;
                flex-wrap: wrap;
            }

            #site-icon {
                width: auto;
                margin-right: @BaseSpacing;
                margin-bottom: -1.5em;

                img {
                    height: 10em;
                    width: auto;
                }
            }
        }
    }

    /* Page Content */
    .block {
        max-width: 1200px;
        margin: auto;
        padding: 0 (@BaseSpacing/2) @BaseSpacing (@BaseSpacing/2);
    }
    h1 {
        ._no-select(unset);
        font-size: 2.4em;
    }

    p, .content {
        text-align: left;

        .img {
            display: inline-block;
            float: left;
            margin: 0 1em 1em 0;
            height: 10em;
            width: 14em;

            &.small {
                height: 8em;
                width: 10em;
            }
            &.right {
                float: right;
                margin-right: 0;
                margin-left: 1em;
            }
        }
    }

    .body {
    }

    /* Components */
    .expandotron {
        .title {
            text-align: left;
            padding: 0 @BaseSpacing/2;
        }

        .items {
            flex-direction: row;
        }

        .item {
            height: 20em;
            margin-bottom: 0;
            margin-right: @BorderWidth;
            border-radius: 1em 1em 0 0;

            &:first-child {
                border-radius: 0 1em 0 0;
            }
            &:last-child {
                margin-right: 0;
                border-radius: 1em 0 0 0;
            }
        }
    }

    .flex {
        flex-direction: row;
        
        & > * {
            margin-bottom: 0;
            margin-right: @BaseSpacing;
        }

        & > *:last-child {
            margin-right: 0;
        }

        & > .order-last {
            order: unset;

            & ~ * {
                margin-bottom: 0;
            }
        }

        &.d-vertical-center {
            align-items: center;
        }
    }

    .panel {
        .top {
            text-align: left;
        }

        &.side {
            width: 16em;
            min-width: 16em;
        }
    }

    /* Remote Content Fill Areas */
    .card {
        align-items: center;
    }

    .card-body {
        justify-content: flex-start;

        .title {
        }
    }

    .card-button {
        border-radius: 0 1em 0 1em;
        align-self: flex-start;

        &.full {
            padding-top: 0.8em;
            padding-bottom: 0.2em;
            border-radius: 0 1em 1em 0em;
            align-self: stretch;
        }

        /*border-radius: 50%;
        
        height: 1em;
        width: 1em;
        padding: 0.5em;

        font-size: 1.5em;
        margin-left: @BaseSpacing;
        margin-right: @BaseSpacing !important;*/
    }

    .card-thumbnail {
        ._smooth();

        width: 10em;
        height: unset;
        margin-right: @BaseSpacing/2;
        margin-bottom: 0;
        border-right: @BorderWidth solid @White;
        background-size: 100%;

        &:hover {
            background-size: 120%;
        }
        /*
        height: 5em;
        width: 5em;
        margin: 1em 0.5em 1em 1em;
        
        border-radius: 50%;
        border: @BorderWidth solid @White;
        overflow: hidden;
     
        flex-grow: 0;
        */
    }

    .tag-list {
        font-size: 0.7em;
    }

    .event-large .tag-list, .event-small-d .tag-list {
        margin-left: 1em;
    }

    .resource-tall {
        .card-thumbnail {
            height: 5.37em;
        }
    }

    .content-panel {
        .content {
            min-height: 6.5em;
        }

        .info {
            padding-left: @BaseSpacing;
        }

        .thumb.large {
            height: 8em;
            width: 12em;
            margin: 0 1em 1em 1em;
            float: left;
        }

        .tag-list {
            justify-content: flex-end;
            padding-right: 1em;
        }
    }

    .content {
        padding-left: @BaseSpacing;
        padding-right: @BaseSpacing;
    }
}
/* Larger than tablet landscape */
@media (min-width: 1219px) {
    .th {
        display: none !important;
    }
    .tag-list {
        &.expand-names .tag {
            &:after {
                font-family: @BodyFont;
                margin-left: 0.5em;
            }

            &[tag='Design SIG'] {
                &:after {
                    content: 'design-sig';
                }
            }

            &[tag='Tech SIG'] {
                &:after {
                    content: 'tech-sig';
                }
            }

            &[tag='Art SIG'] {
                &:after {
                    content: 'art-sig';
                }
            }

            &[tag='Audio SIG'] {
                &:after {
                    content: 'audio-sig';
                }
            }

            &[tag='General'] {
                &:after {
                    content: 'general';
                }
            }

            &[tag='Lab'] {
                &:after {
                    content: 'proto-lab';
                }
            }
        }
    }

    /* Misc Areas */
    .split-6-4 {
        & > *:last-child {
            width: 40%;
        }
    }
}
/* Larger than standard desktop */
@media (min-width: 1800px) {

}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    body {
        font-size: 1.15rem;
    }
}