@import (once) "gdiu_common.less";
@import (once) "main_layout.less";

// Document Setup
html {
    ._clear();
    background-color: @white;
}

body {
    ._clear();
    ._font(@f_body, 1.5rem, @black, 400, normal);
}

// Basic HTML Elements
a, .a {
    ._smooth(@t_fast);
    text-decoration: none;
    color: @black;

    &:hover {
        color: @red;
    }
}

h1 {
    ._clear();
    ._font(@f_title, 9vw);
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0.4em 0.3em 0.2em 0.3em;
}

svg {
    fill: currentColor;
}

// Shapes
.bar {
    width: 100%;
    height: @s_unit*2;
}

.circle {
    display: block;
    border-radius: 9999px;
    height: 1em;
    width: $height;
    text-align: center;
    overflow: hidden;

    & {
        padding: 0.35em 0.5em 0.65em 0.5em;
    }

    &.nudge-left {
        padding-left: 0.45em;
        padding-right: 0.55em;
    }

    &.nudge-down {
        padding-top: 0.4em;
        padding-bottom: 0.6em;
    }

    &.large {
        font-size: 1.5em;
    }
}

.pill {
    border-radius: 9999px;
    display: block;
    padding: 0.5em 1em;
    text-align: center;

    span& {
        display: inline-block;
    }
}

// Page Elements
#top-bars {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    width: 100%;
}

#top {
    margin-bottom: @s_unit;

    .nav {
        ._flex(row, wrap, center, center);

        .site-icon {
            display: block;
            width: 100%;
            margin: @s_unit 0;
            position: relative;

            img {
                display: block;
                width: 90%;
                margin: auto;
                height: auto;
            }
        }

        .button {
            margin-right: 0.3em;
            font-size: 7vw;
        }
    }
}

.block {
    padding-bottom: @s_unit;
    & > * {
        margin: auto;
    }
}

// Basic Components
.img {
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;

    &.position-right {
        background-position: 72%;
    }

    &.position-left {
        background-position: left;
    }

    &.position-bottom {
        background-position: bottom;
    }
}

.button {
    ._enableBorder();
}

.panel {
    @radius: @s_round;
    @padding: 1em @s_unit/2;
    overflow: hidden;

    .top {
        ._enableBorder();
        display: block;
        border-radius: @radius @radius 0 0;
        border-bottom-width: 0;
        padding: @s_unit/2 0;
        text-align: center;
    }

    .middle {
        ._enableBorder();
        display: block;
        padding: @padding;
        border-bottom-width: 0;
    }

    .bottom {
        ._enableBorder();
        display: block;
        border-radius: 0 0 @radius @radius;
        padding: @padding;
        text-align: center;
    }
}

.expandotron {
    .panel;

    .items {
        .panel.bottom;
        ._flex(column, nowrap, stretch, center);
        padding: 0;
        overflow: hidden;

        .item {
            ._listSpace(bottom, @s_border);
            ._smooth(@t_medium);
            position: relative;
            height: 40vh;
            flex-grow: 1;
            overflow: hidden;

            .info {
                ._smooth(@t_slow);
                position: absolute;
                bottom: -3em;
                width: 100%;
                margin: auto;

                .button {
                    width: 60%;
                    margin: auto;
                }
            }

            &:hover {
                flex-grow: 4;

                .info {
                    bottom: 1em;
                }
            }
        }
    }
}
