/* GD@IU Main Less Stylesheet */
/*  Designed as mobile-first  */

/* Resources */
@font-face {
    font-family: 'GN Kill Gothic U';
    src: url('resources/GN-KillGothic-U-KanaNB.ttf');
}

/* Variables and Colors */
@Red: #DD5445;
@Green: #60BB92;
@Blue: #5978BB;
@Yellow: #FEC366;
@White: #EAEAEA;
@Grey: #6E6D71;
@Black: #222D2F;

@BaseSpacing: 20px;
@BorderWidth: 3px;

@Fast: 0.1s;
@Medium: 0.18s;
@Slow: 0.27s;

@TitleFont: 'GN Kill Gothic U';
@HeadingFont: 'Arial Rounded MT';
@BodyFont: 'Calibri';

/* Mixins */
._clear() {
    margin: 0;
    padding: 0;
}
._smooth(@time: @Medium) {
    transition: all @time ease-out;
}
._color(@fg, @bg, @outline: @fg) {
    color: @fg;
    border-color: @outline;
    background-color: @bg;
}
._enable-border(@width: @BorderWidth) {
    border-width: @width;
    border-style: solid;
}

.center {
    margin: auto;
}

/* Base coloring */
.outline, .outline .colored {
    border: @BorderWidth solid @Grey;
}
.red, .red .colored {
    ._color(@Red, @White);
}
.green, .green .colored {
    ._color(@Green, @White);
}
.blue, .blue .colored {
    ._color(@Blue, @White);
}
.yellow, .yellow .colored {
    ._color(@Yellow, @White);
}
.solid-red, .solid-red .colored {
    ._color(@White, @Red, @Red);
}
.solid-green, .solid-green .colored {
    ._color(@White, @Green, @Green);
}
.solid-blue, .solid-blue .colored {
    ._color(@White, @Blue, @Blue);
}
.solid-yellow, .solid-yellow .colored {
    ._color(@White, @Yellow, @Yellow);
}

/* Base Shapes */
.circle {
    border-radius: 9999px;
    display: block;
    height: 1em;
    width: 1em;
    padding: 0.4em 0.5em 0.6em 0.5em;
    text-align: center;

    &.nudge-left {
        padding: 0.4em 0.55em 0.6em 0.45em;
    }
}

.pill {
    border-radius: 9999px;
    display: block;
    padding: 0.5em 1em;
    text-align: center;
}

.full-bar {
    height: 1.5em;
    width: 100%;
}

/* Base Components */
.button {
    ._smooth(@Fast);
    ._enable-border();

    display: block;

    &.red:hover {
        ._color(@White, @Red);
    }
    &.green:hover {
        ._color(@White, @Green);
    }
    &.blue:hover {
        ._color(@White, @Blue);
    }
    &.yellow:hover {
        ._color(@White, @Yellow);
    }
    &.solid-red:hover {
        ._color(@Red, @White);
    }
    &.solid-green:hover {
        ._color(@Green, @White);
    }
    &.solid-blue:hover {
        ._color(@Blue, @White);
    }
    &.solid-yellow:hover {
        ._color(@Yellow, @White);
    }

    &.single {
        font-size: 2em;
    }
}

.img {
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* Document Setup */
html {
    ._clear();
}
body {
    ._clear();

    background-color: #eaeaea;
    color: #222d2f;

    font-family: @BodyFont;
    font-size: 1.5rem;
}

/* Document Areas */
#top {
    #bars {
        position: absolute;
        top: 0;
        z-index: -1;
        height: 25vh;
        width: 100%;

        .full-bar {
            height: 25%;
        }
    }

    #nav {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;

        margin: auto;
        margin-top: 25px;
        margin-bottom: @BaseSpacing;
        position: relative;
        font-size: 7vw;

        * {
            margin-right: 0.3em;
            &:last-child {
                margin-right: 0;
            }
        }

        #site-icon {
            display: block;
            width: 100%;
            margin-bottom: @BaseSpacing;

            img {
                display: block;
                width: 90%;
                height: auto;
                margin:auto;
            }
        }
    }
}

/* Page Content */
.block {
    padding: 0 (@BaseSpacing/2) @BaseSpacing (@BaseSpacing/2);

    a {
        ._smooth();
        text-decoration: none;

        &:hover {
            color: @Red;
        }
    }
}

h1 {
    ._clear();

    margin-bottom: -0.2em;
    font-family: @TitleFont;
    font-size: 9vw;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Components */
.expandotron {
    border-radius: 1em;
    overflow: hidden;

    .title {
        padding: 1.5em;
    }

    .items {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    .item {
        ._smooth();

        height: 30vh;
        flex-grow: 1;
        margin-bottom: @BorderWidth;
        position: relative;
        border-radius: 0;
        overflow: hidden;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            flex-grow: 4;

            .info {
                bottom: 1em;
            }
        }

        .info {
            ._smooth();

            position: absolute;
            bottom: -5em;
            margin: auto;
            width: 100%;

            .button {
                width: 40%;
                margin: auto;
            }
        }
    }
}

.flex {
    display: flex;
    flex-direction: column;

    & > * {
        flex-grow: 1;
        margin-bottom: @BaseSpacing;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
    & > .size-2 {
        flex-grow: 2;
    }
    & > .size-3 {
        flex-grow: 3;
    }
    & > .size-4 {
        flex-grow: 4;
    }
}

.panel {
    &.single {
        padding: 1em;
        border-radius: 1em;
    }

    .top {
        display: block;
        padding: 1em;
        border-radius: 1em 1em 0 0;
    }
    .middle {
        display: block;
        padding: 1em;
        border-bottom-width: 0;
    }
    .bottom {
        display: block;
        padding: 1em;
        border-radius: 0 0 1em 1em;
    }
}