.smooth {
    transition: all 0.15s ease-out;
}

    .smooth.fast {
        transition-duration: 0.1s;
    }

    .smooth.slow {
        transition-duration: 0.3s;
    }

.expandotron {
    border-radius: 1em;
    overflow: hidden;
}

    .expandotron .title {
        padding: 1.2em;
    }

    .expandotron .items {
        display: flex;
        align-items: stretch;
        width: 100%;
    }

    .expandotron .item {
        height: 20em;
        flex-grow: 1;
        margin-right: 6px;
        position: relative;
        border-radius: 0.5em 0.5em 0 0;
        overflow: hidden;
    }

        .expandotron .item .button {
            width: 40%;
            margin: auto;
        }

        .expandotron .item:first-child {
            border-radius: 0 0.5em 0 0;
        }

        .expandotron .item:last-child {
            margin-right: 0;
            border-radius: 0.5em 0 0 0;
        }

        .expandotron .item:hover {
            flex-grow: 4;
        }

        .expandotron .item .info {
            position: absolute;
            bottom: -5em;
            margin: auto;
            width: 100%;
        }

        .expandotron .item:hover .info {
            bottom: 1em;
        }

.flex {
    display: flex;
    justify-content: space-between;
}

    .flex > * {
        margin-right: 1em;
    }

        .flex > *:last-child {
            margin-right: 0;
        }

    .flex.asym > * {
        flex-grow: 1;
    }

        .flex.asym > *:first-child {
            flex-grow: 2;
        }

    .flex.asym.reverse > *:first-child {
        flex-grow: 1;
    }

    .flex.asym.reverse > *:last-child {
        flex-grow: 2;
    }

.panel {
}

    .panel.single {
        border-radius: 1em;
        padding: 1em;
    }

.panel-heading {
    display: block;
    padding: 1.2em;
    border-radius: 1em 1em 0 0;
}

    .panel-heading + .panel-body, .panel-heading + .panel-footer, .panel-body + .panel-footer {
        border-top-width: 0;
    }

.panel-body {
    display: block;
    padding: 1em;
}

.panel-footer {
    display: block;
    padding: 1em;
    border-radius: 0 0 1em 1em;
}

.img {
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
